<h1>Réponse du coach 🤖</h1>
<p>Your question : <strong><%= @question %></strong></p>
<p>Response : <strong style= "color: red"><%= @answer %></strong></p>

<a href="/ask">Ask for something else ?</a>
